.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  height: 15vh;
  width: 50%;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
}

button.on {
  background-color: red;
}

button.off {
  background-color: gray;
}
